{% extends 'base.html.twig' %}

{% block body %}
    <header class="navbar navbar-default navbar-fixed-top navbar-static-top navbar-inner"
            ng-controller="headerController" ng-include="'../public/app/views/header.html'"></header>

    <br/><br/><br/>

    <div id="wrapper"><div class="container" data-ui-view></div></div>

    <br/><br/><br/>

    <footer class="footer" ng-controller="footerController" ng-include="'../public/app/views/footer.html'"></footer>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('public/vendor/bootstrap-languages/languages.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('public/vendor/angular-bootstrap/ui-bootstrap-csp.css') }}" />
    <link rel="stylesheet" href="{{ asset('public/vendor/angular-loading-bar/build/loading-bar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('public/vendor/angular-ui-grid/ui-grid.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script>
        'use strict';
        var DEV = 'dev',
            PROD = 'prod',
            environment = "{{ env }}";

    </script>
    <script src="{{ asset('public/vendor/requirejs/require.js') }}" data-main="../public/app/main.js"></script>
{% endblock %}
